html { color: #000; background: #fff; overflow-y: scroll; -webkit-text-size-adjust: 100%; }

* { outline: 0; -webkit-tap-highlight-color: transparent; box-sizing: border-box; }

html, body { font-family: Helvetica; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }

input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; display: block; }

address, caption, cite, code, dfn, em, th, i { font-style: normal; font-weight: 500; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

a:hover { text-decoration: none; }

a { text-decoration: none; }

input, button { background: none; border: 0 none; }

/*.wraps{
    width:rem(540px);
    @media screen and ( min-width:540px ){
        margin:0 auto;
    }   
}*/
.swiper-container { width: 100%; height: 6.10667rem; }

.swiper-container .swiper-wrapper { width: 100%; height: 6.10667rem; }

.swiper-container .swiper-wrapper .swiper-slide { width: 100%; height: 6.10667rem; }

.swiper-container .swiper-wrapper .swiper-slide img { width: 100%; height: 100%; }

.swiper-container .swiper-pagination span { background: #fff; width: 0.13333rem; height: 0.13333rem; }

.icontent { margin-bottom: 1.53333rem; padding: 0.53333rem; }

.icontent .input-box { border-radius: 0.13333rem; position: relative; padding: 0.26667rem; padding-left: 1.06667rem; background: #fff; border: 1px solid #0099ff; }

.icontent input { border: 0 none; width: 100%; background: #fff; }

.icontent .icon-search { left: 0.3rem; top: 0.2rem; display: block; position: absolute; width: 0.46667rem; height: 0.46667rem; background: url(../images/icon-search.png) no-repeat; background-size: 0.46667rem 0.46667rem; }

.tips { margin-top: 0.26667rem; padding-left: 0.4rem; margin-bottom: 0.66667rem; }

.tips div { margin-right: 0.13333rem; display: inline-block; }

.tips div span { color: #999; display: inline-block; vertical-align: middle; }

.tips div .icon-next { width: 0.21333rem; height: 0.21333rem; background: url(../images/icon-next.png) no-repeat; background-size: 0.21333rem 0.21333rem; }

.tips .one .icon-one { display: inline-block; width: 0.37333rem; height: 0.33333rem; background: url(../images/icon-one.png) no-repeat; background-size: 0.37333rem 0.33333rem; }

.tips .two .icon-two { display: inline-block; width: 0.30667rem; height: 0.32rem; background: url(../images/icon-two.png) no-repeat; background-size: 0.30667rem 0.32rem; }

.tips .three .icon-three { display: inline-block; width: 0.30667rem; height: 0.32rem; background: url(../images/icon-three.png) no-repeat; background-size: 0.30667rem 0.32rem; }

.tips .four .icon-four { display: inline-block; width: 0.30667rem; height: 0.32rem; background: url(../images/icon-four.png) no-repeat; background-size: 0.30667rem 0.32rem; }

.index-bg { position: relative; height: 5.74667rem; width: 8.81333rem; background: url(../images/index-bg.png) no-repeat; background-size: 8.81333rem 5.74667rem; }

.index-bg .icon-sao { left: 4rem; position: absolute; width: 1.66667rem; height: 2.18667rem; background: url(../images/icon-sao.png) no-repeat; background-size: 1.66667rem 2.18667rem; }

.index-bg .icon-dengpao { top: 3.06667rem; left: 8.26667rem; position: absolute; width: 0.46667rem; height: 0.66667rem; background: url(../images/icon-dengpao.png) no-repeat; background-size: 0.46667rem 0.66667rem; }

.menu { background: #fff; width: 100%; height: 1.53333rem; position: fixed; bottom: 0; left: 0; padding-top: 0.26667rem; display: flex; border-top: 1px solid #ccc; }

.menu a { color: #999; flex: 1; text-align: center; }

.menu a .icon-qian { display: inline-block; width: 0.6rem; height: 0.56rem; background: url(../images/icon-qian.png) no-repeat; background-size: 0.6rem 0.56rem; }

.menu a .icon-dingdan { display: inline-block; width: 0.53333rem; height: 0.49333rem; background: url(../images/icon-dingdan.png) no-repeat; background-size: 0.6rem 0.56rem; }

.menu a .icon-zixun { display: inline-block; width: 0.69333rem; height: 0.58667rem; background: url(../images/icon-zixun.png) no-repeat; background-size: 0.69333rem 0.58667rem; }

.menu a .icon-profile { display: inline-block; width: 0.42667rem; height: 0.49333rem; background: url(../images/icon-profile.png) no-repeat; background-size: 0.42667rem 0.49333rem; }

.menu a .icon-text { margin-top: 0.08rem; text-align: center; display: block; font-size: 0.32rem; }

.wraps { font-size: 0.33333rem; }

.bjd-nav { width: 100%; padding: 0 0.34667rem; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; height: 1.28rem; line-height: 1.28rem; border-bottom: 0.01333rem solid #c6c6c6; }

.bjd-nav .return { display: inline-block; width: 0.21333rem; height: 0.4rem; background: url(../images/return.png) no-repeat; background-size: 0.21333rem 0.4rem; }

.bjd-nav .title { font-size: 0.46667rem; font-weight: 600; }

.bjd-header { padding: 0.32rem 0.34667rem 0 0.34667rem; height: 1.46667rem; border-bottom: 0.18667rem solid #f0f0f2; }

.bjd-header .title { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; }

.bjd-header .title .item { font-size: 0.4rem; font-weight: 600; color: #0295fd; }

.bjd-content .title { padding: 0 0.66667rem 0 0.34667rem; height: 0.66667rem; line-height: 0.66667rem; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; border-bottom: 0.01333rem solid #c6c6c6; }

.bjd-content .content-item { padding: 0 0.34667rem; margin-top: 0.29333rem; height: 2.61333rem; }

.bjd-content .content-item .item-name { margin-bottom: 0.26667rem; }

.bjd-content .content-item .item-type { padding-left: 0.29333rem; }

.bjd-content .content-item .item-list { padding-left: 0.29333rem; border-bottom: 0.01333rem dashed #c6c6c6; }

.bjd-content .content-item .item-list li { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; height: 0.77333rem; line-height: 0.77333rem; margin-left: 1.2rem; border-bottom: 0.01333rem dashed #c6c6c6; }

.bjd-content .content-item .item-list li:last-child { border-bottom: none; }

.bjd-footer { position: fixed; width: 100%; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; font-size: 0.4rem; bottom: 0; height: 1.33333rem; line-height: 1.33333rem; color: #ffffff; }

.bjd-footer .span { display: inline-block; }

.bjd-footer a { color: #ffffff; }

.bjd-footer .total { width: 70%; text-align: center; background-color: #6d6d6d; }

.bjd-footer .confirm { width: 30%; text-align: center; background-color: #51ec79; }

.wraps { font-size: 0.33333rem; }

.bjlb-nav { width: 100%; padding: 0 0.34667rem; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; height: 1.28rem; line-height: 1.28rem; border-bottom: 0.01333rem solid #c6c6c6; }

.bjlb-nav .return { display: inline-block; width: 0.21333rem; height: 0.4rem; background: url(../images/return.png) no-repeat; background-size: 0.21333rem 0.4rem; }

.bjlb-nav .title { font-size: 0.46667rem; font-weight: 600; }

.bjlb-nav .share { display: inline-block; width: 0.82667rem; height: 0.66667rem; background: url(../images/share.png) no-repeat; background-size: 0.82667rem 0.66667rem; }

.bjlb-header { height: 1.78667rem; line-height: 0.42667rem; padding: 0.24rem 0.34667rem; font-size: 0.28rem; background: url(../images/bjlb-bg.png) no-repeat; background-size: 100%; color: #ffffff; }

.bjlb-header span { display: block; }

.bjlb-content .title { padding: 0 0.34667rem; height: 0.69333rem; border-top: 1px dashed #4d4d4d; border-bottom: 1px solid #c6c6c6; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; }

.bjlb-content .content-items { margin: 0 0.34667rem; }

.bjlb-content .content-item { height: 1.70667rem; border-bottom: 1px solid #c6c6c6; }

.bjlb-content .content-item .name { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; margin-top: 0.21333rem; }

.bjlb-content .content-item .detail { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; margin: 0.34667rem 0 0 0.58667rem; }

.bjlb-content .content-item .detail .detail-icon { width: 1.41333rem; height: 0.61333rem; line-height: 0.61333rem; text-align: center; color: #ffffff; background-color: #00aaff; border-radius: 0.13333rem; }

.bjlb-content .content-item:last-child { border-bottom: none; }

.bjlb-footer { position: fixed; width: 100%; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; font-size: 0.4rem; bottom: 0; height: 1.33333rem; line-height: 1.33333rem; color: #ffffff; }

.bjlb-footer .span { display: inline-block; }

.bjlb-footer a { color: #ffffff; }

.bjlb-footer .total { width: 70%; text-align: center; background-color: #6d6d6d; }

.bjlb-footer .confirm { width: 30%; text-align: center; background-color: #51ec79; }

.wraps { font-size: 0.33333rem; }

.bjlbt-nav { width: 100%; padding: 0 0.34667rem; display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; height: 1.28rem; line-height: 1.28rem; border-bottom: 0.01333rem solid #c6c6c6; }

.bjlbt-nav .return { display: inline-block; width: 0.21333rem; height: 0.4rem; background: url(../images/return.png) no-repeat; background-size: 0.21333rem 0.4rem; }

.bjlbt-nav .title { font-size: 0.46667rem; font-weight: 600; }

.bjlbt-nav .share { display: inline-block; width: 0.82667rem; height: 0.66667rem; background: url(../images/share.png) no-repeat; background-size: 0.82667rem 0.66667rem; }

.bjlbt-header { height: 1.78667rem; line-height: 0.42667rem; padding: 0.24rem 0.34667rem; font-size: 0.28rem; background: url(../images/bjlb-bg.png) no-repeat; background-size: 100%; color: #ffffff; }

.bjlbt-header span { display: block; }

.bjlbt-content { background-color: #e5e4e4; }

.bjlbt-content .content-name { padding: 0.21333rem 0.34667rem; height: 1.68rem; border-bottom: 0.01333rem solid #c5c5c5; }

.bjlbt-content .content-name .option { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: flex-end; margin-bottom: 0.18667rem; }

.bjlbt-content .content-name .option button { width: 3.6rem; height: 0.72rem; line-height: 0.58667rem; color: #ffffff; background-color: #a8a8a8; border-left: 0.05333rem solid #737373; border-bottom: 0.05333rem solid #737373; font-size: 0.30667rem; }

.bjlbt-content .content-name .title { color: #9e9e9e; }

.bjlbt-content .content-title { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; height: 0.88rem; border-bottom: 0.01333rem solid #c5c5c5; padding: 0 0.34667rem; background-color: #ffffff; }

.bjlbt-content .content-item { padding: 0.18667rem 0.34667rem; margin-bottom: 0.16rem; background-color: #ffffff; }

.bjlbt-content .content-item .had-price { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; margin-bottom: 0.13333rem; }

.bjlbt-content .content-item .had-price a { display: inline-block; width: 1.44rem; height: 0.64rem; line-height: 0.64rem; background-color: #a8a8a8; color: #ffffff; font-size: 0.33333rem; text-align: center; border-radius: 0.13333rem; }

.bjlbt-content .content-item .price { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; margin-left: 0.53333rem; border-bottom: 0.01333rem dashed #c5c5c5; margin-bottom: 0.13333rem; }

.bjlbt-content .content-item .price a { display: inline-block; width: 1.44rem; height: 0.64rem; line-height: 0.64rem; background-color: #00aaff; color: #ffffff; font-size: 0.33333rem; text-align: center; border-radius: 0.13333rem; }

.bjlbt-content .content-item .detail { color: #a7a7a7; }

.bjlbt-content .content-item .detail span { display: block; }

.bjlbt-footer { text-align: center; display: flex; justify-content: center; flex-wrap: nowrap; }

.bjlbt-footer a { position: fixed; bottom: 0.29333rem; margin: 0.58667rem auto 0.29333rem auto; display: inline-block; width: 3.78667rem; height: 0.90667rem; line-height: 0.90667rem; text-align: center; background-color: #00aaff; color: #ffffff; }
